## SETUP

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns
import json

%matplotlib inline
plt.style.use('seaborn-colorblind')

import re
from collections import Counter

import spacy
from spacy.tokenizer import Tokenizer
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
import string

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.base import TransformerMixin
# from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score, mean_squared_error

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score

## CLEAN UP

In [11]:
df = pd.read_json('../data/lyrics_02.json')

In [12]:
df = df.dropna()

In [13]:
df = df.drop(df[df['lyrics'] == ''].index)
df = df.reset_index().drop(['index'], axis=1)

In [14]:
df.head()

,week,standing,artist,title,lyrics
0,2020-05-02,2,Drake,Toosie Slide,"Black leather gloves, no sequins (Yeah, yeah, ..."
1,2020-05-02,3,Roddy Ricch,The Box,Pullin' out the coupe at the lot\r\nTold 'em f...
2,2020-05-02,4,Dua Lipa,Don't Start Now,"If you don't wanna see me\r\nDid a full 180, c..."
3,2020-05-02,5,Doja Cat,Say So,"Day and night til morning, keeping me in the m..."
4,2020-05-02,6,Post Malone,Circles,"Hey, hey, hey, hey\r\nOh, oh, oh-oh\r\nOh, oh,..."

In [15]:
df.tail()

,week,standing,artist,title,lyrics
9487,1995-06-03,96,Sophie B. Hawkins,As I Lay Me Down,It felt like spring time on this February morn...
9488,1995-06-03,97,DJ Quik,Safe + Sound,"~Static~ ""Quik you're not a gangster we're not..."
9489,1995-06-03,98,Ty Herndon,What Mattered Most,I thought I knew the girl so well\r\nIf she wa...
9490,1995-06-03,99,Madonna,Bedtime Story,Today\r\nIs the last day \nThat I'm using word...
9491,1995-06-03,100,Livin' Joy,Dreamer,"Love, life and laughter\r\nIs all I beleive.\r..."

In [16]:
def remove_specials_in_column(df, col_num):
    for idx, entry in enumerate(df.iloc[:,col_num]):
        df.iloc[idx, col_num] = remove_specials(df.iloc[idx, col_num])
    return df
    
def remove_specials(text):
    result = text.replace('\n', ' ')
    result = result.replace('\r', ' ')
    result = result.replace('\t', ' ')
    return result

## EXPLORATORY DATA ANALYSIS

## SUPERVISED LEARNING

## UNSUPERVISED LEARNING